/* CRTL + PONTO E VÍRGULA - COMENTÁRIO */
/* Estilos do Projeto Dev */

/* Regra de Reset */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    width: 100%;
}

.container-fluid
{
    padding: 0;
}

.logo
{
    position: absolute;
    top: 35vw;
    width: 50vw;
    left: calc( (100vw - 50vw) / 2 ) ;
    background: rgba(210, 210, 210, 0.6);
    padding: 10px;
    border-radius: 100vw;
    border: solid 2vw rgb(255, 174, 0);
    box-shadow: 0 0 20px inset rgb(rgba(255, 0, 0, 0);
}